.o-badge {
    box-sizing: border-box;
    min-width: 60px;
    width: auto;
    min-height: 32px;
    padding: 4px 8px;
    font-size: 14px;
    text-align: center;
    color: #1d1d1d;
    background-color: #f2f2f2;
    border-radius: 23px;
    border: 1px solid transparent;

    &--md {
        min-width: 88px;
        padding: 9px 20px;
        font-size: 16px;
    }

    &--lg {
        width: 197px;
        padding: 5px 24px;
        font-size: 24px;
    }

    &--og {
        background-color: #ffcd03;
    }

    &--gn {
        color: #fff;
        background-color: #35bf79;
    }

    &--outline {
        background-color: #fff;
        border: 1px solid #e2e2e2;
    }
}

.l-badges {
    display: flex;
    align-items: center;
    margin: 0 -6px;

    &__item {
        margin: 0 6px;
    }

    &__txt {
        margin: 0 6px;

        &--md {
            font-size: 24px;
        }
    }

    &--center {
        justify-content: center;
    }
}