.c-card {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 1px 2px #00000029;

    &__tags {
        padding: 24px 24px 0 24px;
    }

    &__tit {
        padding: 16px 24px;
    }

    &__cnt {
        box-sizing: border-box;
        padding: 24px 24px 0 24px;
    }

    &__main {
        padding: 16px 24px;
        border-top: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
    }

    &__bottom {
        display: flex;
        padding: 16px 24px 24px 24px;
        align-items: center;

        &--apart {
            justify-content: space-between;
        }

        &--r {
            justify-content: flex-end;
        }
    }

    &--search {
        border-radius: 12px;
    }

    &--search & {
        &__cnt {
            display: flex;
            padding: 16px;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.l-card {
    &__item {
        margin-top: 12px;

        &:first-child {
            margin-top: 0;
        }
    }
}
