.u-gapT-md {
    margin-top: 24px;
}

.u-gapT-min {
    @include breakpoint-laptop {
        &-m {
            margin-top: 4px;
        }
    }
}

.u-paraL-sm {
    margin-left: 20px;
}

.u-paraL-xs {
    margin-left: 12px;
}
