.o-title {
    font-size: 18px;
    font-weight: bold;
    color: #1d1d1d;

    &--lg {
        font-size: 36px;
    }

    &--xl {
        font-size: 48px;
    }

    &--md,
    &--main {
        font-size: 24px;
    }

    &--sm {
        font-size: 14px;
    }

    &--normal {
        font-weight: normal;
    }

    &--gy {
        color: #979797;
    }

    &--dkgy {
        color: #555;
    }

    &--dkgn {
        color: #387C57;
    }

    &--wh {
        color: #fff;
    }

    &--long {
        width: 264px;
    }

    @include breakpoint-pad {
        &--md {
            font-size: 16px;
        }

        &--lg {
            font-size: 24px;
        }

        &--long {
            width: auto;
            // 暫時先這樣處理，直接在 o 上面寫間距不太好><
            margin-right: 12px;
        }
    }
}

.l-heading {
    margin-bottom: 40px;

    &--tie {
        margin-bottom: 0;
    }

    &--tie & {
        &__cnt {
            padding-left: 16px;
            margin: 12px 0;
        }
    }

    &--center {
        text-align: center;
    }
}

.l-stack {
    &__top {
        display: flex;
        align-items: center;
    }

    &__cnt {
        margin-top: 4px;
    }

    &--apart {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.l-stackWrap {
    display: flex;
    align-items: center;
    margin-top: 16px;

    &__item {
        &+& {
            margin-left: 72px;
        }
    }
}