// body
//
// 1. Prevent adjustments of font size after orientation changes in iOS.
// 2. Change the default tap highlight to be completely transparent in iOS.
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    line-height: 1.5;
    font-family: 'Noto Sans TC', sans-serif;
    color: #555;
    -webkit-text-size-adjust: 100%; // 1
    -webkit-tap-highlight-color: #555; // 2
}


// main
//
// Render the `main` element consistently in IE
main {
    display: block;
}

// text
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    font-size: 100%;
}


// hr
//
// 1. Add the correct box sizing in Firefox.
// 2. how the overflow in Edge and IE.
hr {
    box-sizing: content-box; // 1
    height: 0; // 1
    overflow: visible; // 2
    margin: 0;
    background-color: currentColor;
    border: 0;
}


// abbreviations
//
// 1. Duplicate behavior to the data-bs-* attribute for our tooltip plugin
// 2. Add the correct text decoration in Chrome, Edge, Opera, and Safari.
// 3. Add explicit cursor to indicate changed behavior.
// 4. Prevent the text-decoration to be skipped.
abbr[title],
abbr[data-bs-original-title] {
    // 1
    text-decoration: underline; // 2
    text-decoration: underline dotted; // 2
    cursor: help; // 3
    text-decoration-skip-ink: none; // 4
}


// address
address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}


// lists
ol,
ul,
dl {
    margin: 0;
    padding: 0;
    list-style: none;
}


// Sub and Sup
// Prevent `sub` and `sup` elements from affecting the line height in all browsers.
sub,
sup {
    position: relative;
    line-height: 0;
    vertical-align: baseline;
}


// pre
//
// 1. Correct the inheritance and scaling of font size in all browsers.
// 2. Correct the odd `em` font sizing in all browsers.
pre {
    margin: 0;
    font-family: monospace, monospace; // 1
    font-size: 1em; // 2
}


// links
//
// 1. Remove the gray background on active links in IE 10
a {
    display: block;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    background-color: transparent; // 1
}


// Add the correct font weight in Chrome, Edge, and Safari.
b,
strong {
    font-weight: bolder;
}


// 1. Correct the inheritance and scaling of font size in all browsers.
// 2. Correct the odd `em` font sizing in all browsers.
code,
kbd,
samp {
    font-family: monospace, monospace; // 1
    font-size: 1em; // 2
}


// Add the correct font size in all browsers.
small {
    font-size: 80%;
}


// img
img,
svg {
    vertical-align: middle;
    border-style: none;
}


// form
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: inherit;
    line-height: inherit;
    border: 0;

    &::-webkit-input-placeholder {
        color: #979797;
    }

    &::-moz-placeholder {
        color: #979797;
    }

    &::-moz-placeholder {
        color: #979797;
    }

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
        outline: 0;
    }
}


// 1. Textareas should really only resize vertically so they don't break their (horizontal) containers.
// 2. Remove the default vertical scrollbar in IE 10+.
textarea {
    resize: vertical; // 1
    overflow: auto; // 2
}

// 1. Remove the inheritance of text transform in Firefox
button,
select {
    text-transform: none; // 1

    &:focus {
        outline: 0;
    }
}


// Set the cursor for non-`<button>` buttons
[role="button"],
button {
    cursor: pointer;
}


select {
    // Remove the inheritance of word-wrap in Safari.
    word-wrap: normal;

    // Undo the opacity change from Chrome
    &:disabled {
        opacity: 1;
    }
}


// Remove the dropdown arrow in Chrome from inputs built with datalists.
[list]::-webkit-calendar-picker-indicator {
    display: none;
}


// Show the overflow in Edge.
button,
input {
    overflow: visible;
}


// 1. Add the correct box sizing in IE 10.
// 2. Remove the padding in IE 10.
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; // 1
    padding: 0; // 2
}


// Correct the inability to style clickable types in iOS and Safari.
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}


// Remove the inner border and padding in Firefox.
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}


// Restore the focus styles unset by the previous rule.
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}


// Correct the cursor style of increment and decrement buttons in Chrome.
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
    -webkit-appearance: none;
}


// 1. Correct the outline style in Safari.
// 2. This overrides the extra rounded corners on search inputs in iOS so that our
//    `.form-control` class can properly style them. Note that this cannot simply
//    be added to `.form-control` as it's not specific enough.
[type="search"] {
    outline-offset: -2px; // 1
    -webkit-appearance: textfield; // 2
}


// Fix height of inputs with a type of datetime-local, date, month, week, or time
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
    padding: 0;
}


::-webkit-inner-spin-button {
    height: auto;
}


// 1. Browsers set a default `min-width: min-content;` on fieldsets,
//    unlike e.g. `<div>`s, which have `min-width: 0;` by default.
//    So we reset that to ensure fieldsets behave more like a standard block element.
//    See https://github.com/twbs/bootstrap/issues/12359
//    and https://html.spec.whatwg.org/multipage/#the-fieldset-and-legend-elements
// 2. Reset the default outline behavior of fieldsets so they don't affect page layout.
fieldset {
    min-width: 0; // 1
    padding: 0; // 2
    margin: 0; // 2
    border: 0; // 2
}


// 1. Correct the text wrapping in Edge and IE.
// 2. Correct the color inheritance from `fieldset` elements in IE.
// 3. Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers.
legend {
    box-sizing: border-box; // 1
    white-space: normal; // 1
    max-width: 100%; // 1
    display: table; // 1
    color: inherit; // 2
    padding: 0; // 3
}


// Add the correct vertical alignment in Chrome, Firefox, and Opera.
progress {
    vertical-align: baseline;
}


// Remove the inner padding in Chrome and Safari on macOS.
::-webkit-search-decoration {
    -webkit-appearance: none;
}


// Remove padding around color pickers in webkit browsers
::-webkit-color-swatch-wrapper {
    padding: 0;
}


// 1. Correct the inability to style clickable types in iOS and Safari.
// 2. Change font properties to `inherit` in Safari.
::-webkit-file-upload-button {
    -webkit-appearance: button; // 1
    font: inherit; // 2
}


// Add the correct display in Edge, IE 10+, and Firefox.
details {
    display: block;
}


// Correct element displays
output {
    display: inline-block;
}


// Add the correct display in all browsers.
summary {
    display: list-item;
}


// Add the correct display in IE 10+.
template {
    display: none;
}

// Remove border from iframe
iframe {
    border: 0;
}


// Add the correct display in IE 10.
[hidden] {
    display: none;
}